@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

body{
    background-color: #dbdbdb;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Protest Riot', sans-serif;
}


.app{
    margin-top: 40px;
}